@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Dancing+Script:wght@600&display=swap');


*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


body{

    font-family:'Poppins',sans-serif;

    background:
    linear-gradient(
        180deg,
        #fff7fb,
        #f8dbe8
    );

    color:#333;

    padding-bottom:40px;

}



/* HEADER */

.order-header{

    height:190px;

    background:
    linear-gradient(
        135deg,
        #f7a9ca,
        #ffd7e8
    );

    border-radius:0 0 55px 55px;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

}



.logo{

    width:100px;

    height:100px;

    object-fit:contain;

}



.back-btn{

    position:absolute;

    left:25px;

    top:45px;

    background:#d33d82;

    color:white;

    border:none;

    padding:15px 25px;

    border-radius:18px;

    font-size:16px;

    font-weight:600;

}





/* TITLE */

.page-title{

    text-align:center;

    margin:55px 0 35px;

    color:#cf397b;

    font-size:38px;

    font-weight:700;

}





/* CARDS */


.card{

    background:white;

    margin:20px;

    padding:25px;

    border-radius:30px;

    box-shadow:

    0 10px 25px rgba(190,100,140,.15);

}



.card h2{

    color:#cf397b;

    font-size:26px;

    margin-bottom:25px;

}



.card h3{

    font-size:20px;

    margin-bottom:20px;

}





/* INPUTS */


label{

    display:block;

    font-size:17px;

    font-weight:600;

    margin-top:18px;

    margin-bottom:8px;

}



input,
select,
textarea{


    width:100%;

    padding:16px;

    border-radius:18px;

    border:2px solid #eeeeee;

    background:#fff;

    font-size:16px;

}



textarea{

    min-height:130px;

    resize:none;

}





/* ITEM BOX */


.item-box{

    border:3px solid #ffd0e3;

    border-radius:25px;

    padding:20px;

    margin-bottom:20px;

    background:#fff9fc;

}





/* BUTTONS */


.pink-btn,
.save-order-btn{

    width:100%;

    border:none;

    padding:18px;

    border-radius:22px;

    background:#db4386;

    color:white;

    font-size:18px;

    font-weight:700;

    margin-top:20px;

}



.remove-item{

    width:100%;

    padding:14px;

    border:none;

    border-radius:18px;

    background:#ffe0eb;

    color:#cf397b;

    font-weight:600;

    margin-top:20px;

}





/* PROGRESS */


.progress-container{

    height:20px;

    background:#f2d9e5;

    border-radius:20px;

    overflow:hidden;

}



.progress-bar{

    height:100%;

    width:25%;

    background:#d63d83;

    border-radius:20px;

    transition:.4s;

}



.progress-labels{

    display:flex;

    justify-content:space-between;

    margin-top:15px;

    color:#9b6a7d;

    font-size:13px;

}





/* TRACKING */


#trackingBox{

    margin-top:15px;

}




/* MOBILE */

@media(max-width:500px){


.page-title{

    font-size:32px;

}


.card{

    margin:15px;

    padding:20px;

}


}
