@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Dancing+Script:wght@600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:'Poppins',sans-serif;

    background:
    linear-gradient(
    180deg,
    #fff8fc,
    #f9e6ef
    );

    color:#6f5665;

}



/* HEADER */

.order-header{

    height:150px;

    background:
    linear-gradient(
    180deg,
    #fbd1e1,
    #ffe8f1
    );

    border-radius:0 0 45px 45px;

    display:flex;

    justify-content:center;

    align-items:center;

}


.logo{

    width:85px;

}



.back-btn{

    position:absolute;

    left:25px;

    top:35px;

    background:#d88bad;

    color:white;

    border:none;

    padding:13px 22px;

    border-radius:18px;

    font-size:15px;

}





/* TITLE */


.page-title{

    text-align:center;

    margin:45px 0 30px;

    font-family:'Dancing Script',cursive;

    font-size:42px;

    font-weight:600;

    color:#b56f8d;

}





/* CARDS */


.card{

    background:rgba(255,255,255,.85);

    margin:18px;

    padding:25px;

    border-radius:30px;


    box-shadow:

    0 8px 25px rgba(210,150,175,.15);

}



.card h2{

    font-family:'Poppins',sans-serif;

    font-size:24px;

    color:#b56f8d;

    font-weight:600;

    margin-bottom:20px;

}



.card h3{

    color:#8c687a;

}





/* INPUTS */


label{

    display:block;

    margin-top:18px;

    margin-bottom:8px;

    font-size:15px;

    color:#66505d;

    font-weight:500;

}



input,
select,
textarea{

    width:100%;

    padding:16px;

    border-radius:20px;

    border:1px solid #ead7df;

    background:#fff;

    font-size:16px;

    color:#66505d;

}



textarea{

    min-height:120px;

}





/* ITEM BOX */


.item-box{

    background:#fff8fb;

    border:2px solid #f3d4e1;

    border-radius:25px;

    padding:18px;

}





/* BUTTONS */


.pink-btn,
.save-order-btn{

    width:100%;

    border:none;

    background:#d88bad;

    color:white;

    padding:16px;

    border-radius:22px;

    font-size:16px;

    font-weight:600;

}



.remove-item{

    width:100%;

    border:none;

    background:#fae1eb;

    color:#bd6d8e;

    padding:14px;

    border-radius:18px;

}





/* PROGRESS */


.progress-container{

    height:16px;

    background:#f2dce6;

    border-radius:20px;

}


.progress-bar{

    height:100%;

    width:25%;

    background:#d88bad;

    border-radius:20px;

}



.progress-labels{

    display:flex;

    justify-content:space-between;

    margin-top:12px;

    font-size:12px;

    color:#a17b8d;

}
